lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.idea
.env
.eslintrc

pids
results
npm-debug.log
node_modules
server/controller/deal_images
server/controllers/find.js
server/controllers/factual.js
server/controllers/findEmail.js
server/controllers/cj.js
server/controllers/aso.js
