nav {
    width: 100%;
    background-color: white;
    padding: 10px 0;
    line-height: normal;
}

a {
    color: #bd382a;
}

header {
    background: url('/images/header3.png') no-repeat;
    background-size: cover;
    height: 400px;
    color: white;
}

.center {
    text-align: center;
}

body {
  font-family: 'Lato', sans-serif;
}

header h1 {
    padding-top: 135px;
    margin-bottom: 0;
    font-weight: bold;
}

header p {
    font-size: 22px;
}

.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary,
.button.button-primary:hover,
.button.button-primary:focus,
.button.button-primary:active,
.button.button-primary:visited {
    background-color: #3AB54A;
    border-color: #3AB54A;
    font-size: 15px;
}

.button.button-alerts,
.button.button-alerts:hover,
.button.button-alerts:focus,
.button.button-alerts:active,
.button.button-alerts:visited {
    background-color: #FF4136;
    border-color: #FF4136;
    font-size: 15px;
    color: white
}

.space-top {
    padding-top: 40px;
    padding-bottom: 40px;
}

.blurb {
    background-color: #bd382a;
    color: white;
    width: auto;
    font-size: 20px;
    padding: 5px;
}

.cities {
    background: url(/images/cities.png) no-repeat;
    background-size: cover;
    height: 400px;
    color: white;
}

.cities h2 {
    margin-top: 110px;
    font-weight: bold;
}

.cities p {
    font-size: 20px;
}

.listings {
    padding-top: 60px;
}

.form-select select {
    width: 80%;
}

.listings p {
    margin: 10px 0;
    height: 39px;
    line-height: 39px;
    padding: 10px 0 10px 10px;
    background: #cccccc
}

small {
    font-size: 9px;
}

.block {
    display: block;
}

.item {
    padding: 10px 10px 10px 0;
}

.bottom {
    background: url(/images/bottom-image.png) no-repeat;
    color: white;
    height: 300px;
    background-size: cover;
    padding-top: 100px;
    margin-top: 40px;
}

.footer {
    background: #2f2f2f;
    color: #949494;
    padding: 10px 0;
    font-size: 10px;
}

.footer li {
    list-style: none;
    padding: 3px 0;
    margin: 0;
    line-height: normal;
    font-size: 11px;
}

.footer h7 {
    text-transform: uppercase;
    font-size: 9px;
    border-bottom: 1px solid #bd382a;
    padding-bottom: 2px;
    color: white;
}

.footer a {
    color: #949494;
    text-decoration: none;
}

h6 {
    margin-bottom: 0;
}


/*====================================
  Our Modal Window styles
=====================================*/

.modal {
    /*    background: #fff;*/
    /*    box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);*/
    display: inline-block;
    /*    padding: 1em;*/
}

@media (min-width: 43.75em) {
    .modal {
        padding: 1.5em;
    }
}

.modal > label {
    background: #FFD300;
    border: 1px solid #f0c600;
    border-radius: .2em;
    color: #000000;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    padding: 0.75em 1.5em;
    text-shadow: 1px 1px 1px #fff;
    -webkit-transition: all 0.55s;
    transition: all 0.55s;
}

.modal > label:hover {
    -webkit-transform: scale(0.97);
    transform: scale(0.97);
}

.modal__overlay {
    background-color: rgba(0, 0, 0, 0.6);
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    text-align: center;
    text-shadow: none;
    top: 0;
    z-index: 600;
}

.modal__wrap {
    padding: 1em 0;
    position: relative;
    margin: 0 auto;
    max-width: 500px;
    width: 90%;
}

@media (min-width: 50em) {
    .modal__wrap {
        padding: 1.75em;
    }
}

@media (min-height: 37.5em) {
    .modal__wrap {
        left: 50%;
        position: absolute;
        top: 50%;
        -webkit-transform: translate(-50%, -80%);
        transform: translate(-50%, -80%);
    }
}

.modal__wrap label {
    background: #FFD300;
    border-radius: 50%;
    color: #000000;
    cursor: pointer;
    display: inline-block;
    height: 1.5em;
    line-height: 1.5;
    position: absolute;
    right: .5em;
    top: .5em;
    width: 1.5em;
}

.modal__wrap h2 {
    color: #FFD300;
    margin-bottom: 1em;
    text-transform: uppercase;
}

.modal__wrap p {
    color: #FFD300;
    text-align: justify;
}

.modal input:focus ~ label {
    -webkit-transform: scale(0.97);
    transform: scale(0.97);
}

input {
    position: absolute;
    top: -1000px;
}

.modal__overlay {
    opacity: 0;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transition: all 0.75s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: all 0.75s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    z-index: -100;
}

input:checked ~ .modal__overlay {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
    z-index: 800;
}

.feature {
    border: none;
    background: #f2f6fb;
    box-shadow: 0 0 28px rgba(0, 0, 0, .2);
    padding: 10px;
}

.links{
	float: right;
  margin: 0;
  padding: 0;
}

.links li{
	display: inline-block;
  padding: 5px;
}

.links li a{
  color: white;
  text-decoration: none;
}

.links li a:hover{
  text-decoration: underline;
}

.artwork{
  position: relative;
}
.mask{
display: block;
position: absolute;
top: 0;
left: 0;
z-index: 1;
width: 58px;
height: 58px;
background: url(/images/mask58.png) 0 0 no-repeat;
background-size: 58px 58px;
}

.center{
  text-align: center;
}
