{% extends './layouts/default.html' %} {% block title %}{{ title }}{% endblock %} {% block content %}
	<div class="wraper">
    	<div class="inerwraper about-page">
        	<div class="">
            <h1 name="about">About DEALSBOX</h1>
            <p>DEALSBOX LLC is a technology company that aggregates local deals and discounts from popular deals sites and uses geolocation to deliver the best deals that are closest to your current location.</p>

            <p>We use technology to help consumers ensure they are getting the best possible deals and also help our consumers save more by rewarding them with <em>cash back on local deals purchased via our app</em>.</p>

            <p><a href="http://dealsbox.co" style="text-decoration:underline;">Back to Home</a></p>
            </div>
        </div>

        <div class="footer" style="position:absolute;bottom:0;">
                <ul>
                    <li><a href="http://dealsbox.co/about">About</a></li>
                    <li><a href="mailto:parker@dealsbox.co">Contact</a></li>
                    <li><a href="http://dealsbox.co/privacy">Privacy</a></li>
                    <li><a href="http://dealsbox.co/terms">Terms</a></li>
                    <li><a href="https://www.dropbox.com/sh/xgsuaojbjy263ud/AABu0c6eOkkKSHYPPDdu4_fAa?dl=0">Press Kit</a></li>
                </ul>
                <p class='copyright'>©2015 DEALSBOX LLC.</p>
        </div>
    </div>
{% endblock %}
