<!DOCTYPE html>
<html>

<head>
  <title>Alerts - DEALSBOX</title>
  <style type="text/css">
    body {
      font-size: 12px;
      font-family: sans-serif, "open-sans", monospace;
    }
    
    p {
      margin-top: 0;
      padding-top: 0;
      line-height: normal;
      position: relative;
      top: 3px;
    }
  </style>
</head>

<body>
  <!-- <p>
    <span>{{provider}}: {{message}}</span>
    <br />
    <span>code:
      <strong>{{code}}</strong> - Ends {{end_date}}</span>
  </p> -->
  <p style="font-size:14px;">
    <strong>Give a business your <a href="https://dealsbox.co/user/coupon?email={{email}}">coupon</a>, Get $50.</strong>
    <!-- Today Only! 20% Off LivingSocial. Use code:
    <strong>POP</strong> -->
  </p>

</body>

</html>