<!DOCTYPE html>
<html>
<head>
	<title>How to earn points - DEALSBOX</title>
			<style type="text/css">
	body, h2{
		font-size: 14px;
		font-family: sans-serif;
	}
	h2{
		margin-bottom: 0;
		padding-bottom: 0;
	}

	p{
		margin-top: 0;
		padding-top: 0;
	}

	h1{
		font-size: 14px;
	}

	strong{
		color: #ce3f21;
	}
	</style>
</head>
<body>
 <h2>How DEALSBOX cashback works</h2>
<ol>
        <li>Find a Groupon deal in our app</li>
        <li>Tap the buy button to purchase the deal</li>
        <li>We track your purchase and you'll earn a cash reward</li>

</ol>
<h2><u>Frequently asked questions</u></h2>
<br />
<p>
	<strong>How much is the cash back</strong><br/>
	<span>Each deal indicates the cash back amount.</span>
</p>
<p>
	<strong>How do I get paid</strong><br/>
	<span>When you've earned $20 or more in cash back, you can request a check.</span>
</p>

<p>
	<strong>Why cash back only on Groupon deals</strong><br/>
	<span>We hope to expand to other providers soon.</span>
</p>


</body>
</html>
