<!DOCTYPE html>
<html lang="en">

<head>
  <script src="https://cdn.optimizely.com/js/2428500854.js"></script>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Do more. Spend less. - Placeful™ mobile app</title>

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="msvalidate.01" content="CD2BB719CB6AAFA4DF4543C1E76575AE" />
  <meta name="p:domain_verify" content="1f572a4ad91d54963d3382f6d00feda8" />
  <link href="https://dl.dropbox.com/s/cwg53qr2adzv3yb/iTunesArtwork%402x.png?dl=0" rel="shortcut icon" type="image/x-icon">

  <meta name="description" content="We present you with deals happening right now, in the neighborhood you're currently in">
  <meta name="keywords" content="best restaurants new york, las vegas restaurants, hot deals,freebies,sales,salon,voucher,amazon,clothing,massage,promotion,cheap,groupon,shopping,bars,tickets">
  <meta name="author" content="Placeful">

  <!-- Facebook -->
  <meta property="og:site_name" content="Placeful">
  <meta property="og:title" content="Placeful - Do more. Spend less">
  <meta property="og:description" content="We present you with deals happening right now, in the neighborhood you're currently in">
  <meta property="og:url" content="https://placefulapp.com">
  <meta property="og:image" content="https://dl.dropbox.com/s/cwg53qr2adzv3yb/iTunesArtwork%402x.png?dl=0">
  <meta property="og:type" content="website">

  <!-- Twitter -->
  <meta name="twitter:card" content="app">
  <meta name="twitter:title" content="Placeful - Do more. Spend less">
  <meta name="twitter:description" content="Your local discovery app">
  <meta name="twitter:image:src" content="https://dl.dropbox.com/s/cwg53qr2adzv3yb/iTunesArtwork%402x.png?dl=0">
  <meta name="twitter:domain" content="https://placefulapp.com">
  <meta name="twitter:app:name:iphone" content="Placeful">
  <meta name="twitter:app:id:iphone" content="1102813029">
  <meta name="twitter:app:name:ipad" content="Placeful">
  <meta name="twitter:app:id:ipad" content="1102813029">

  <!-- Apple Smart App Banner -->
  <meta name="apple-itunes-app" content="app-id=1102813029">

  <meta name="google-site-verification" content="6KXrDRrKanrQREd9E7KHpV1zvNhKnxphnYhTXGYTy8w" />


  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href='https://fonts.googleapis.com/css?family=Lato:400,400italic,700,900,700italic,900italic,300italic' rel='stylesheet' type='text/css'>

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/skeleton.css">
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" type="text/css" href="/css/slick.css"/>
<link rel="stylesheet" type="text/css" href="/css/slick-theme.css"/>

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="images/png" href="/images/favicon.png">

  <!-- Facebook Pixel Code -->
  <script>
    ! function(f, b, e, v, n, t, s)
    {
      if (f.fbq) return;
      n = f.fbq = function()
      {
        n.callMethod ?
          n.callMethod.apply(n, arguments) : n.queue.push(arguments)
      };
      if (!f._fbq) f._fbq = n;
      n.push = n;
      n.loaded = !0;
      n.version = '2.0';
      n.queue = [];
      t = b.createElement(e);
      t.async = !0;
      t.src = v;
      s = b.getElementsByTagName(e)[0];
      s.parentNode.insertBefore(t, s)
    }(window,
      document, 'script', '//connect.facebook.net/en_US/fbevents.js');

    fbq('init', '619153371554592');
    fbq('track', "PageView");
  </script>
  <noscript>
    <img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=619153371554592&ev=PageView&noscript=1" />
  </noscript>
  <!-- End Facebook Pixel Code -->

  <style media="screen">
    .button {
      height: 54px;
      line-height: 54px;
    }

    body {
      font-size: 1.4em;
    }

    .links li a {
      text-transform: uppercase;
      font-size: 0.7em;
    }

    .top-nav a {
      color: white;
      text-decoration: none;
      font-size: 0.9em;
      position: relative;
      top: 5px;
      letter-spacing: 1.2px;
      margin: 0 5px;
      color: black;
      font-weight: bold;
      font-size: 14px;
    }

    .top-nav a:hover {
      border-bottom: 2px solid black;
    }

    .text-center {
      text-align: right;
    }

    sup {
      color: #bd382a;
      top: -1.6em;
      padding-left: 2px;
      font-weight: bold;
      font-size: 13px;
    }

    .button.button-primary{
      /*background: transparent;
    border-color: #fff;*/
    color: #fff;
    }

    .button.button-primary:hover{
      background: #3AB54A;
      border-color: #3AB54A;
    }

    .item img{
      max-width: 100%;
    }

  </style>
</head>

<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <nav>
    <div class="container">
      <div class="row">
        <div class="six columns">
          <a href="/"><img src="/images/Red-Logo_placeful_small.png" alt="discover events and places to eat in the city" /></a><sup>™</sup>
        </div>
        <div class="six columns text-center top-nav">
          <a href="#promos">Promotions</a>
          <a href="https://merchant.placeful.co">For Business</a>
        </div>
      </div>

    </div>
  </nav>
  <header>
    <h1 class="center">Do more. Spend less.</h1>
    <p class="center" style="margin-bottom:0;font-size:20px;">Discover promotions and events in your city.</p>
    <p class="center">
      <a class="download-button" href="https://itunes.apple.com/app/apple-store/id1102813029?pt=118188314&ct=landing_page&mt=8" target="_blank"><img src="/images/itunes3.png" /></a>
    </p>

  </header>
  <div class="container">
    <div class="row">
      <div class="twelve columns center">
      <h4 style="margin:20px 0 0 0"><strong>Your personal concierge for all local experiences</strong></h4>
      <p style="font-size:1.5rem;font-weight:300;">Indulge yourself with all the best your city has to offer! Placeful makes it easy for you to make smarter plans on a whim. <br />Take advantage of all the amazing places in your city offering specials at all times of the day and night, as well as exclusive<br /> promotions at local favorite spots you may already frequent</p>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="twelve columns center">
      <h4 style="margin:20px 0 0 0"><strong>How Does Placeful™ Work?</strong></h4>
      <p style="font-size:1.5rem;font-weight:300;">Placeful provides you with a curated list of local promotions and events:<br /> happy hours, live music, pop-up shops, trivia nights, art shows, spa deals, everything - focused around your interests, <br />happening at places near you.</p>
      </div>
    </div>
  </div>
  <div class="container space-top">
       <div class="row">
         <div class="twelve columns">
           <div class="artwork center"><img width="58" height="58" alt="Placeful™ - Discover new local spots" class="artwork" src="https://dl.dropbox.com/s/36f4izjck7bk7yu/Icon-29%402x.png?dl=0"><span class="mask"></span></div>
         </div>
       </div>
       <div class="row center">
         <div class="twelve columns">
           <h4 style="margin-bottom:0;">Placeful<sup style="color: black;top: -1.1em;">™</sup></h4>
           <p style="font-size:1.5rem;font-weight:300;">A new way to experience local</p>
           <span class="divider-line"></span>
         </div>
       </div>
       <div class="row features">
         <div class="four columns" style="padding-top: 70px;">
          <div class="item">
           <h5>Save money</h5>
           <p>Placeful makes it easy to take advantage of the best specials throughout the city. No matter where you are, or what you're doing.</p>
         </div>
         <div class="item">
           <h5>Discover &amp; follow local places</h5>
           <p>Let Placeful be your guide to hidden local treasures.
             Switch up your routine and discover new places daily. Follow your favorite local bars and restaurants.</p>
         </div>
         </div>
         <div class="four columns mobile-hide">
           <div class="phone_bg">
             <div><img src="/images/phone_screens/login.png" alt="" width="250"/></div>
            <div><img src="/images/phone_screens/content.png" alt="" width="250"/></div>
            <div><img src="/images/phone_screens/filter.png" alt="" width="250"/></div>
            <div><img src="/images/phone_screens/home.png" alt="" width="250"/></div>
            <div><img src="/images/phone_screens/search.png" alt="" width="250"/></div>
            <div><img src="/images/phone_screens/my_likes.png" alt="" width="250"/></div>
            <div><img src="/images/phone_screens/interests.png" alt="" width="250"/></div>
            <div><img src="/images/phone_screens/ticket.png" alt="" width="250"/></div>
            <div><img src="/images/phone_screens/my_tickets.png" alt="" width="250"/></div>
            <div><img src="/images/phone_screens/places.png" alt="" width="250"/></div>
           </div>
         </div>
         <div class="four columns" style="padding-top: 70px;">
           <div class="item">
            <h5>Save time &amp; energy</h5>
            <p>Find where to go on a whim. Browse through specials happening now, closest to where you are. Easily share plans with friends.</p>
          </div>
          <div class="item">
            <h5>Tailored for you</h5>
            <p>We find you specials based on your interests, location, and plans.</p>
          </div>
         </div>
       </div>
  </div>

  <section class="bottom">
    <div class="container">
      <div class="row">
        <div class="twelve columns">
          <h2 class="center">Find Amazing Places to Explore<br /> in New York City</h2>
          <p class="center">Coming to other cities soon.</p>
          <p class="center">
            <a class="download-button" href="https://itunes.apple.com/app/apple-store/id1102813029?pt=118188314&ct=landing_page&mt=8" target="_blank"><img src="/images/app.png" /></a>
          </p>
        </div>
      </div>
    </div>
  </section>


    <section class="listings">
    <div class="container">
      <div class="row">
        <div class="twelve columns">
          <h5>Today's promotions</h5>
          <hr />
        </div>
      </div>
    </div>
  </section>

    <section class="results">
    <div class="container">
      <div class="row">
        <div class="twelve columns" id="promos">
        {% for promo in promos %}
         <div class="item">
          <span><a href="http://placefulapp.com/promotion/{{promo.deal_id}}/{{promo.slug}}" target="_blank">{{promo.title}}</a><span class="link-icon"></span></span>
          <p style="margin-bottom:0;font-size: 16px;">{{promo.description}}</p>
          <span class="block"><em>{{promo.tags}}</em></span>
        </div>
        {% endfor %}

        <p class="u-pull-right download-button"><a href="https://itunes.apple.com/app/apple-store/id1102813029?pt=118188314&ct=landing_page&mt=8">View more</a></p>
      </div>
    </div>

  </section>

   <section class="cities">
    <div class="container">
      <div class="row">
        <div class="twelve columns">
          <h2 class="center" style="margin-bottom: 0;"><strong>Start doing more</strong>.</h2>
          <p class="center" style="font-size: 20px;">Join Placeful today. It's free and it's fast.</p>
          <p class="center"><a class="button button-alerts download-button" href="https://itunes.apple.com/app/apple-store/id1102813029?pt=118188314&ct=landing_page&mt=8">Join Now</a></p>
        </div>
      </div>
    </div>

  </section>



  <section class="footer">
    <div class="container">
      <div class="row">
        <div class="four columns">
          <a href=""><img src="/images/placeful-logo-white.png" alt=""></a><sup style="top: -1.4em;color:white;">™</sup>
          <p>&copy; 2016</p>
        </div>
        <div class="eight columns">
          <div class="row">
            <!--
                        <div class="three columns">
                            <h7>users</h7>
                            <ul>
                                <li><a href="">Log-in</li>
                                <li><a href="">Create an Account</a></li>
                                <li><a href="">Invite a Friend</a></li>
                            </ul>
                        </div>
-->
            <div class="three columns">
              <h7>contact us</h7>
              <ul>
                <!-- <li><a href="https://merchant.placeful.co">Submit a Deal</a></li> -->
                <li><a href="mailto:concierge@placeful.co">Email Us</a></li>
                <li><a href="https://medium.com/@placeful">Blog</a></li>
              </ul>
            </div>
            <div class="three columns">
              <h7>company</h7>
              <ul>
                <li><a href="https://merchant.placeful.co">Do Business With Us</a></li>
                <!-- <li><a href="">About Us</a></li> -->
                <li><a href="https://placeful.workable.com/jobs/241690" target="_blank">We are hiring!</a></li>
                <!-- <li><a href="">Press</a></li> -->
                <li><a href="/contest">Contest</a></li>
                <li><a href="/privacy">Privacy Policy</a></li>
                <li><a href="/terms">Terms &amp; Policy</a></li>
              </ul>
            </div>
            <div class="three columns">
              <h7>social outreach</h7>
              <ul>
                <li><a href="https://twitter.com/placefulapp">Twitter</a></li>
                <li><a href="https://www.facebook.com/Placeful">Facebook</a></li>
                <li><a href="https://www.pinterest.com/placefulapp/">Pinterest</a></li>
                <li><a href="https://www.instagram.com/placefulapp/">Instagram</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

  </section>

  <!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->



<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="/js/slick.min.js"></script>
<script type="text/javascript" src="/js/scripts.js"></script>

  <script>

    (function(i, s, o, g, r, a, m)
    {
      i['GoogleAnalyticsObject'] = r;
      i[r] = i[r] || function()
      {
        (i[r].q = i[r].q || []).push(arguments)
      }, i[r].l = 1 * new Date();
      a = s.createElement(o),
        m = s.getElementsByTagName(o)[0];
      a.async = 1;
      a.src = g;
      m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-6101640-24', 'auto');
    ga('send', 'pageview');
    $(document).on('click', 'download-button', function(){
      ga('send', 'event', 'button', 'click', 'download-button');
      window._pq = window._pq || [];
      _pq.push(['track', 'download']);
    });
  </script>

</body>

</html>
