<!DOCTYPE HTML>
<html>

<head>
  <script src="//cdn.optimizely.com/js/2428500854.js"></script>
  <title>best restaurants new york, featuring groupon coupon, livingsocial, etc. - DEALSBOX</title>
  <link rel="stylesheet" href="https://d2kfjaekmjmy1l.cloudfront.net/websites-public-v995493589af8.css" data-bundle="websites-public">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="msvalidate.01" content="CD2BB719CB6AAFA4DF4543C1E76575AE" />
  <meta name="google-site-verification" content="sbhX7BD_Ie45cQvi2MDithEjO_ReZIZbrlclq_JDMFw" />
  <meta name="p:domain_verify" content="1f572a4ad91d54963d3382f6d00feda8" />
  <link href="https://lh3.googleusercontent.com/H26NnLsqQbqVavqKrJRA_hyPvZ765vpvghdaBfhAbtprR3f17508o42ebj5XmTqeFqILHxyftXNGjrtwZcBKXn-d22ZKr7c" rel="shortcut icon" type="image/x-icon">

  <meta name="description" content="">
  <meta name="keywords" content="best restaurants new york, las vegas restaurants, hot deals,freebies,sales,salon,voucher,amazon,clothing,massage,promotion,cheap,groupon,shopping,bars,tickets">
  <meta name="author" content="DEALSBOX">

  <!-- Facebook -->
  <meta property="og:site_name" content="DEALSBOX">
  <meta property="og:title" content="Hot Deals &amp; Discount Coupons for Local Restaurants, Concerts Etc">
  <meta property="og:description" content="#1 Deals app in your locality.

DEALSBOX is your guide to places with deals around you. Find the best food &amp; drinks deals, spa deals, fitness deals and things to do in the city.

...">
  <meta property="og:url" content="http://app.dealsbox.co">
  <meta property="og:image" content="https://lh3.googleusercontent.com/H26NnLsqQbqVavqKrJRA_hyPvZ765vpvghdaBfhAbtprR3f17508o42ebj5XmTqeFqILHxyftXNGjrtwZcBKXn-d22ZKr7c">
  <meta property="og:type" content="website">

  <!-- Twitter -->
  <meta name="twitter:card" content="app">
  <meta name="twitter:title" content="DEALSBOX - Hot Deals &amp; Discount Coupons for Local Restaurants, Concerts Etc">
  <meta name="twitter:description" content="#1 Deals app in your locality.

DEALSBOX is your guide to places with deals around you. Find the best food &amp; drinks deals, spa deals, fitness deals and things to do in the city.

...">
  <meta name="twitter:image:src" content="https://lh3.googleusercontent.com/H26NnLsqQbqVavqKrJRA_hyPvZ765vpvghdaBfhAbtprR3f17508o42ebj5XmTqeFqILHxyftXNGjrtwZcBKXn-d22ZKr7c">
  <meta name="twitter:domain" content="http://app.dealsbox.co">
  <meta name="twitter:app:name:iphone" content="DEALSBOX">
  <meta name="twitter:app:id:iphone" content="944253010">
  <meta name="twitter:app:name:ipad" content="DEALSBOX">
  <meta name="twitter:app:id:ipad" content="944253010">

  <!-- Apple Smart App Banner -->
  <meta name="apple-itunes-app" content="app-id=944253010">


  <link href="https://fonts.googleapis.com/css?family=Open+Sans:100,200,300italic,400italic,600italic,700italic,800italic,400,300,600,700,800|Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic|Raleway:400,100,200,300,500,600,700,800,900"
  rel="stylesheet" type="text/css">

  <style type="text/css">
    #public-landing-page .container {
      font-family: 'Roboto', sans-serif !important;
    }
    
    #public-landing-page.template-1 .hero,
    #public-landing-page.template-2 .hero,
    #public-landing-page.template-3 .hero,
    #public-landing-page.template-4 .hero,
    #public-landing-page.template-7 .hero,
    #public-landing-page.template-8 .hero .graphic,
    #public-landing-page.template-9 .bg-color,
    #public-landing-page .store-badge-white-text,
    #public-landing-page.template-1color .hero,
    #public-landing-page.template-2color .hero {
      background: #DB462C;
    }
    
    #public-landing-page.template-5 .hero h2,
    #public-landing-page.template-6 .hero h1,
    #public-landing-page.template-8 .hero,
    #public-landing-page.template-9 .hero h2,
    #public-landing-page .hero .btn,
    #public-landing-page .navbar .btn,
    #public-landing-page .navbar.invert-navbar a,
    #public-landing-page footer a,
    #public-landing-page .benefit-header {
      color: #DB462C;
    }
    
    #public-landing-page .btn.btn-primary.btn-primary-invert,
    #public-landing-page .navbar.invert-navbar .btn.btn-primary,
    #public-landing-page .navbar .navbar-collapse.in .btn.btn-primary,
    #public-landing-page .navbar .navbar-toggle .icon-bar,
    #public-landing-page .download-text {
      color: white;
      background-color: #DB462C;
    }
    
    #public-landing-page.template-1 .hero,
    #public-landing-page.template-2 .hero,
    #public-landing-page.template-4 .hero {
      overflow: hidden;
    }
    
    #public-landing-page .hero .blurred-cover {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      z-index: 1px;
      background-image: url('https://lh3.googleusercontent.com/Y3VxKITpNNv-30F0MSMmYm234ZdLy52rE__877QZtpasWnUFXjlEgt16zDrwIKh_V4Emtwtssu3myUmuUaUg3_NhBKUsfQ');
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      -webkit-filter: blur(50px);
      -moz-filter: blur(50px);
      -o-filter: blur(50px);
      -ms-filter: blur(50px);
      filter: blur(50px);
      margin: -60% -40% -40%;
    }
    
    #public-landing-page .hero .blurred-cover .darken {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      z-index: 2px;
      background: rgba(0, 0, 0, .3);
    }
    
    #public-landing-page .btn-footer {
      background: #DB462C;
      color: white;
      font-size: 14px;
      padding: 16px;
    }
    
    #public-landing-page a.app-store-badge {
      /*float: left;*/
    }
    
    #public-landing-page .hero .waiting-list {
      color: black;
      font-size: 14px;
      padding: 16px;
      /*float: left;*/
      position: relative;
      top: -5px;
      font-weight: bold;
    }
    
    #public-landing-page.template-7 .hero h2 {
      font-size: 41px;
      margin-top: 20px;
      text-align: center;
    }
    
    #public-landing-page.template-7 .hero p {
      margin-top: 3px;
      margin-bottom: 3px;
      opacity: 1;
    }
    
    #public-landing-page.template-7 .hero .container .row.headernav > div {
      padding: 0;
    }
    
    #public-landing-page .description .btn {
      margin-top: 10px;
    }
  </style>

  <!-- Facebook Pixel Code -->
  <script>
    ! function(f, b, e, v, n, t, s) {
      if (f.fbq) return;
      n = f.fbq = function() {
        n.callMethod ?
          n.callMethod.apply(n, arguments) : n.queue.push(arguments)
      };
      if (!f._fbq) f._fbq = n;
      n.push = n;
      n.loaded = !0;
      n.version = '2.0';
      n.queue = [];
      t = b.createElement(e);
      t.async = !0;
      t.src = v;
      s = b.getElementsByTagName(e)[0];
      s.parentNode.insertBefore(t, s)
    }(window,
      document, 'script', '//connect.facebook.net/en_US/fbevents.js');

    fbq('init', '619153371554592');
    fbq('track', "PageView");
  </script>
  <noscript>
    <img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=619153371554592&ev=PageView&noscript=1" />
  </noscript>
  <!-- End Facebook Pixel Code -->


</head>

<body>

  <div id="skit-controller">
    <div id="public-landing-page" class="template-7">

      <section class="hero">
        <div class="bottom-shadow"></div>
        <div class="container">
          <nav class="navbar navbar-default invert-buttons">
            <div class="container-fluid">
              <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand visible-xs" href="#">
                  <img alt="DEALSBOX" src="https://lh3.googleusercontent.com/H26NnLsqQbqVavqKrJRA_hyPvZ765vpvghdaBfhAbtprR3f17508o42ebj5XmTqeFqILHxyftXNGjrtwZcBKXn-d22ZKr7c" class="app-icon">
                </a>
              </div>
              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                  <li><a href="https://merchant.dealsbox.co">MERCHANTS</a></li>
                  <!-- <li><a href="http://blog.dealsbox.co/">BLOG</a></li> -->
                </ul>
              </div>
            </div>
          </nav>

          <div class="row headernav">
            <div class="col-sm-12">
              <h1>
                <img src="/images/newsletter_logo2.png" class="app-logo">
              </h1>
            </div>
          </div>
          <hr>
          <div class="row hero-main-content">
            <div class="hero-text-container col-sm-7 col-xs-12" style="float:none;margin:0 auto;">
              <h2>Discover Deals Around You.</h2>
              <iframe width="560" height="315" src="https://www.youtube.com/embed/w8R5qN156TI?rel=0" frameborder="0" allowfullscreen></iframe>

              <p>#1 Deals app in your locality. DEALSBOX is your guide to places with deals around you. Find the best food &amp; drinks deals, spa deals, fitness deals and things to do in the city.

              </p>
              <div style="text-align:center;">
                <a href="https://app.appsflyer.com/id944253010?pid=landing_page" class="download-button" target="_blank">
                  <img src="https://dl.dropbox.com/s/le1m692ix9y6tlc/applestore.png?dl=0" width="180px">
                </a>
                <a href="http://bit.ly/1iKdE8o" class="download-button" target="_blank">
                  <img src="https://dl.dropbox.com/s/xfqdyqw1p44tkhw/googleplay.png?dl=0" alt="" width="180px" />
                </a>
              </div>
            </div>
            <!-- <div class="hero-graphic-container col-sm-5 col-xs-12 text-center">
              <img src="https://cluster-dev.imgix.net/_onboard/devices/iPhone6Black.png?w=750&amp;h=1334&amp;mark=https%3A%2F%2Flh3.googleusercontent.com%2FY3VxKITpNNv-30F0MSMmYm234ZdLy52rE__877QZtpasWnUFXjlEgt16zDrwIKh_V4Emtwtssu3myUmuUaUg3_NhBKUsfQ&amp;markh=970&amp;markalign=center%2Cmiddle"
              class="screenshot">
            </div> -->
          </div>



        </div>
      </section>

      <!-- <section class="gallery">
        <div class="container">
          <div class="row">
            <p class="section-header">Screenshots of
              <strong>DEALSBOX</strong>
            </p>
            <div class="gallery-screenshots">
              <div class="gallery-scroll-screenshot">
                <img src="https://lh3.googleusercontent.com/Y3VxKITpNNv-30F0MSMmYm234ZdLy52rE__877QZtpasWnUFXjlEgt16zDrwIKh_V4Emtwtssu3myUmuUaUg3_NhBKUsfQ">
              </div>
              <div class="gallery-scroll-screenshot">
                <img src="https://lh3.googleusercontent.com/ED2gz79FaS5eX_Z2gES1rhOWXW-C6lx4s1ejubaaAxKg2yyAVQpQRJRS8tmh-hcunRI3A54OViVr4Adm5vZTvYkn-XRiNw">
              </div>
              <div class="gallery-scroll-screenshot">
                <img src="https://lh3.googleusercontent.com/cfda9Y1vaPj-LTPtUKOAGkTYDXusemG_BsQDSK6-lOLjRSmqW64TUKNsblZkTzNdbp7teQTn4SPNNLX3VtnBVpgMcJTH">
              </div>
              <div class="gallery-scroll-screenshot">
                <img src="https://lh3.googleusercontent.com/_pZIp14o1HIaUsWmKNX8Q86wJJIdhcQ3SQHtgyset00xirSZ2cinsPf3BGjndFzTnxPqF1BRoVwyDyHToE6d3Is3k-5282s">
              </div>
            </div>
          </div>
        </div>
      </section> -->

      <section class="description">
        <div class="container">
          <div class="row">
            <div class="col-sm-5 col-xs-12 pull-right">
              <div id="carousel" class="carousel slide carousel-fade" data-ride="carousel">
                <div class="carousel-inner" role="listbox">
                  <div class="item active">
                    <img src="https://cluster-dev.imgix.net/_onboard/devices/iPhone6Black.png?w=750&amp;h=1334&amp;mark=https%3A%2F%2Flh3.googleusercontent.com%2FY3VxKITpNNv-30F0MSMmYm234ZdLy52rE__877QZtpasWnUFXjlEgt16zDrwIKh_V4Emtwtssu3myUmuUaUg3_NhBKUsfQ&amp;markh=970&amp;markalign=center%2Cmiddle"
                    class="screenshot" alt="Screenshot of DEALSBOX">
                  </div>
                  <div class="item">
                    <img src="https://cluster-dev.imgix.net/_onboard/devices/iPhone6Black.png?w=750&amp;h=1334&amp;mark=https%3A%2F%2Flh3.googleusercontent.com%2FED2gz79FaS5eX_Z2gES1rhOWXW-C6lx4s1ejubaaAxKg2yyAVQpQRJRS8tmh-hcunRI3A54OViVr4Adm5vZTvYkn-XRiNw&amp;markh=970&amp;markalign=center%2Cmiddle"
                    class="screenshot" alt="Screenshot of DEALSBOX">
                  </div>
                  <div class="item">
                    <img src="https://cluster-dev.imgix.net/_onboard/devices/iPhone6Black.png?w=750&amp;h=1334&amp;mark=https%3A%2F%2Flh3.googleusercontent.com%2Fcfda9Y1vaPj-LTPtUKOAGkTYDXusemG_BsQDSK6-lOLjRSmqW64TUKNsblZkTzNdbp7teQTn4SPNNLX3VtnBVpgMcJTH&amp;markh=970&amp;markalign=center%2Cmiddle"
                    class="screenshot" alt="Screenshot of DEALSBOX">
                  </div>
                  <div class="item">
                    <img src="https://cluster-dev.imgix.net/_onboard/devices/iPhone6Black.png?w=750&amp;h=1334&amp;mark=https%3A%2F%2Flh3.googleusercontent.com%2F_pZIp14o1HIaUsWmKNX8Q86wJJIdhcQ3SQHtgyset00xirSZ2cinsPf3BGjndFzTnxPqF1BRoVwyDyHToE6d3Is3k-5282s&amp;markh=970&amp;markalign=center%2Cmiddle"
                    class="screenshot" alt="Screenshot of DEALSBOX">
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-7 col-xs-12 description-text">
              <p>#1 Deals app in your locality.
                <br>
                <br>DEALSBOX is your guide to places with deals around you. Find the best food &amp; drinks deals, spa deals, fitness deals and things to do in the city.
                <br>
                <br>• Access deals from providers that you already use, such as Groupon, LivingSocial, and more. All in one place!.
                <br>• Read short reviews about the deals you want.
                <br>• Save deals you like for later, so you never forget.
                <br>• Search easily for the deals you want across all deals providers.</p>
              <a href="https://app.appsflyer.com/id944253010?pid=landing_page" class="download-button" target="_blank">
                <img src="https://dl.dropbox.com/s/le1m692ix9y6tlc/applestore.png?dl=0" width="180px">
              </a>
              <a href="http://bit.ly/1iKdE8o" class="download-button" target="_blank">
                <img src="https://dl.dropbox.com/s/xfqdyqw1p44tkhw/googleplay.png?dl=0" alt="" width="180px" />
              </a>


            </div>
          </div>
        </div>
      </section>
      <footer>
        <div class="container">
          <div class="footer-nav col-xs-12 col-sm-8">
            <a href="http://blog.dealsbox.co/" target="_blank">Blog</a>
            <a href="http://dealsbox.co/terms" target="_blank">Terms</a>
            <a href="http://dealsbox.co/privacy" target="_blank">Privacy Policy</a>
            <a href="https://www.dropbox.com/sh/769osf8ezl60xxu/AAAn0zPC5vQZes1uuANGoAJJa?dl=0">Press Kit</a>
            <a href="https://twitter.com/dealsboxapp" target="_blank"><i class="fa fa-twitter"></i></a>
            <a href="https://www.facebook.com/dealsboxapp" target="_blank"><i class="fa fa-facebook-square"></i></a>

          </div>
          <div class="launchkit-promo col-xs-12 col-sm-4">
            <a href="https://launchkit.io/websites/" target="_blank" style="color: gray;font-size:9px;">LaunchKit</a>
          </div>
        </div>
      </footer>

    </div>


    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
  </div>
  <script>
    window.skit = (function() {
      var objects = {};
      var modules = {};

      function define(resourcePath, deps, fn) {
        modules[resourcePath] = {
          deps: deps,
          fn: fn
        };
      }

      function load(resourcePath) {
        if (!(resourcePath in objects)) {
          if (resourcePath in modules) {
            var module = modules[resourcePath];
            var args = [];
            for (var i = 0; i < module.deps.length; i++) {
              args.push(load(module.deps[i]));
            }
            objects[resourcePath] = module.fn.apply(window, args);
          } else {
            objects[resourcePath] = null;
          }
        }
        return objects[resourcePath];
      }
      return {
        define: define,
        load: load
      };
    })();
  </script>
  <script src="https://d2kfjaekmjmy1l.cloudfront.net/websites-public-v4f4a4d181b72.js" data-bundle="websites-public"></script>
  <script>
    (function() {
      var netproxy = skit.load("skit.platform.netproxy:js");
      netproxy.__register__("lk", {
        "name": "lk",
        "csrfToken": "Qu56pdVy46WnlfrL39mwCg=="
      });

      var ControllerKlass = skit.load("public_hosted.HostedWebsite:js");
      var controller = new ControllerKlass({});

      var controllerProperties = {
        "domain": "app.dealsbox.co",
        "website": {
          "facebookLink": "https://www.facebook.com/dealsboxapp",
          "domain": "app.dealsbox.co",
          "termsLink": "http://dealsbox.co/terms",
          "appName": "DEALSBOX",
          "blogLink": "http://blog.dealsbox.co/",
          "supportLink": "",
          "images": {
            "logo": {
              "url": "https://lh3.googleusercontent.com/hnhQ3hoyoP62WMVQbGeEn76vO4qhkH2xDkDe8oDgobvVoeOMg5YF_X2sU04om-u2oH0eBTK-2LtD_OnECU_P8PZutF1y",
              "id": "F00B4j1Q6mc"
            },
            "screenshots": {
              "iPhone": [{
                "url": "https://lh3.googleusercontent.com/Y3VxKITpNNv-30F0MSMmYm234ZdLy52rE__877QZtpasWnUFXjlEgt16zDrwIKh_V4Emtwtssu3myUmuUaUg3_NhBKUsfQ",
                "id": "WYtgPEda3f0"
              }, {
                "url": "https://lh3.googleusercontent.com/ED2gz79FaS5eX_Z2gES1rhOWXW-C6lx4s1ejubaaAxKg2yyAVQpQRJRS8tmh-hcunRI3A54OViVr4Adm5vZTvYkn-XRiNw",
                "id": "zmgGrjF2BD0"
              }, {
                "url": "https://lh3.googleusercontent.com/cfda9Y1vaPj-LTPtUKOAGkTYDXusemG_BsQDSK6-lOLjRSmqW64TUKNsblZkTzNdbp7teQTn4SPNNLX3VtnBVpgMcJTH",
                "id": "6H3dGK26aNo"
              }, {
                "url": "https://lh3.googleusercontent.com/_pZIp14o1HIaUsWmKNX8Q86wJJIdhcQ3SQHtgyset00xirSZ2cinsPf3BGjndFzTnxPqF1BRoVwyDyHToE6d3Is3k-5282s",
                "id": "OKhPVC_-5ag"
              }]
            },
            "icon": {
              "url": "https://lh3.googleusercontent.com/H26NnLsqQbqVavqKrJRA_hyPvZ765vpvghdaBfhAbtprR3f17508o42ebj5XmTqeFqILHxyftXNGjrtwZcBKXn-d22ZKr7c",
              "id": "2v1ST7Tred4"
            }
          },
          "keywords": "",
          "googleAnalyticsId": "",
          "font": "Open Sans",
          "shortDescription": "#1 Deals app in your locality.\n\nDEALSBOX is your guide to places with deals around you. Find the best food \u0026 drinks deals, spa deals, fitness deals and things to do in the city. \n\n...",
          "id": "bHXzufouK1g",
          "twitterLink": "https://twitter.com/dealsboxapp",
          "privacyLink": "http://dealsbox.co/privacy",
          "author": "Parker Ituk",
          "tagline": "Hot Deals \u0026 Discount Coupons for Local Restaurants, Concerts Etc",
          "itunesId": "944253010",
          "template": "7",
          "longDescription": "#1 Deals app in your locality.\n\nDEALSBOX is your guide to places with deals around you. Find the best food \u0026 drinks deals, spa deals, fitness deals and things to do in the city. \n\n• Access deals from providers that you already use, such as Groupon, LivingSocial, and more. All in one place!. \n• Read short reviews about the deals you want.\n• Save deals you like for later, so you never forget.\n• Search easily for the deals you want across all deals providers.",
          "playStoreId": "",
          "waitingListLink": "",
          "primaryColor": "#DB462C",
          "loginLink": "",
          "frameScreenshots": "black"
        }
      };
      for (var k in controllerProperties) {
        controller[k] = controllerProperties[k];
      }

      controller.recursiveLoad();
      controller.recursiveReady();
    })();
  </script>

  <script>
    (function(i, s, o, g, r, a, m) {
      i['GoogleAnalyticsObject'] = r;
      i[r] = i[r] || function() {
        (i[r].q = i[r].q || []).push(arguments)
      }, i[r].l = 1 * new Date();
      a = s.createElement(o),
        m = s.getElementsByTagName(o)[0];
      a.async = 1;
      a.src = g;
      m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-6101640-24', 'auto');
    ga('send', 'pageview');
  </script>

  <script type="text/javascript">
    (function() {
      window._pa = window._pa || {};
      // _pa.orderId = "myOrderId"; // OPTIONAL: attach unique conversion identifier to conversions
      // _pa.revenue = "19.99"; // OPTIONAL: attach dynamic purchase values to conversions
      // _pa.productId = "myProductId"; // OPTIONAL: Include product ID for use with dynamic ads
      var pa = document.createElement('script');
      pa.type = 'text/javascript';
      pa.async = true;
      pa.src = ('https:' == document.location.protocol ? 'https:' : 'http:') + "//tag.marinsm.com/serve/55f49613aca157488100006e.js";
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(pa, s);
    })();

    // $('.text-me').on('click', function() {
    //   ga('send', 'event', 'button', 'click', 'text-me-button');
    // });

    $('.download-button').on('click', function() {
      ga('send', 'event', 'button', 'click', 'download-button');
      window._pq = window._pq || [];
      _pq.push(['track', 'download']);
    });
  </script>
</body>