<!DOCTYPE html>
<html lang="en">

<head>
  <script src="https://cdn.optimizely.com/js/2428500854.js"></script>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Win $50 Amazon Gift Card - Placeful™</title>

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="msvalidate.01" content="CD2BB719CB6AAFA4DF4543C1E76575AE" />
  <meta name="p:domain_verify" content="1f572a4ad91d54963d3382f6d00feda8" />
  <link href="https://dl.dropbox.com/s/cwg53qr2adzv3yb/iTunesArtwork%402x.png?dl=0" rel="shortcut icon" type="image/x-icon">

  <meta name="description" content="We present you with deals happening right now, in the neighborhood you're currently in">
  <meta name="keywords" content="best restaurants new york, las vegas restaurants, hot deals,freebies,sales,salon,voucher,amazon,clothing,massage,promotion,cheap,groupon,shopping,bars,tickets">
  <meta name="author" content="Placeful">

  <!-- Facebook -->
  <meta property="og:site_name" content="Placeful">
  <meta property="og:title" content="Placeful - Do more. Spend less">
  <meta property="og:description" content="We present you with deals happening right now, in the neighborhood you're currently in">
  <meta property="og:url" content="https://placefulapp.com">
  <meta property="og:image" content="https://dl.dropbox.com/s/cwg53qr2adzv3yb/iTunesArtwork%402x.png?dl=0">
  <meta property="og:type" content="website">

  <!-- Twitter -->
  <meta name="twitter:card" content="app">
  <meta name="twitter:title" content="Placeful - Do more. Spend less">
  <meta name="twitter:description" content="Your local discovery app">
  <meta name="twitter:image:src" content="https://dl.dropbox.com/s/cwg53qr2adzv3yb/iTunesArtwork%402x.png?dl=0">
  <meta name="twitter:domain" content="https://placefulapp.com">
  <meta name="twitter:app:name:iphone" content="Placeful">
  <meta name="twitter:app:id:iphone" content="1102813029">
  <meta name="twitter:app:name:ipad" content="Placeful">
  <meta name="twitter:app:id:ipad" content="1102813029">

  <!-- Apple Smart App Banner -->
  <meta name="apple-itunes-app" content="app-id=1102813029">

  <meta name="google-site-verification" content="6KXrDRrKanrQREd9E7KHpV1zvNhKnxphnYhTXGYTy8w" />


  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href='https://fonts.googleapis.com/css?family=Lato:400,400italic,700,900,700italic,900italic,300italic' rel='stylesheet' type='text/css'>

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/skeleton.css">
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" type="text/css" href="/css/slick.css"/>
<link rel="stylesheet" type="text/css" href="/css/slick-theme.css"/>

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="images/png" href="/images/favicon.png">



  <style media="screen">
    .button {
      height: 54px;
      line-height: 54px;
    }

    body {
      font-size: 1.4em;
    }

    .links li a {
      text-transform: uppercase;
      font-size: 0.7em;
    }

    .top-nav a {
      color: white;
      text-decoration: none;
      font-size: 0.9em;
      position: relative;
      top: 5px;
      letter-spacing: 1.2px;
      margin: 0 5px;
      color: black;
      font-weight: bold;
      font-size: 14px;
    }

    .top-nav a:hover {
      border-bottom: 2px solid black;
    }

    .text-center {
      text-align: right;
    }

    sup {
      color: white;
      top: -1.6em;
      padding-left: 2px;
      font-weight: bold;
      font-size: 13px;
    }

    .button.button-primary{
      /*background: transparent;
    border-color: #fff;*/
    color: #fff;
    }

    .button.button-primary:hover{
      background: #3AB54A;
      border-color: #3AB54A;
    }
  </style>
</head>

<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <nav style="background: black;">
    <div class="container">
      <div class="row">
        <div class="six columns">
          <a href="/"><img src="/images/placeful-logo-white.png" alt="discover events and places to eat in the city" /></a><sup>™</sup>
        </div>
      </div>

    </div>
  </nav>
  <div class="container space-top">
       <div class="row">
         <div class="twelve columns">
           <div class="artwork center"><img width="58" height="58" alt="Placeful™ - Discover new local spots" class="artwork" src="https://dl.dropbox.com/s/36f4izjck7bk7yu/Icon-29%402x.png?dl=0"><span class="mask"></span></div>
         </div>
       </div>
       <div class="row center">
         <div class="twelve columns">
           <h4 style="margin-bottom:0;">Placeful<sup style="color: black;top: -1.1em;">™</sup></h4>
           <p style="width:400px;margin:5px auto;font-size:16px;">Placeful provides you with a curated list of promotions and events: happy hours, local bands, art shows, spa deals, everything…
focused around your interests, happening at local places near you. <a href="https://itunes.apple.com/app/apple-store/id1102813029?pt=118188314&ct=contest&mt=8">Get Placeful</a></p>
<span class="divider-line" style="width:300px;"></span>
         </div>
       </div>
       <div class="row features">

         <div style="text-align: center;">
         <h2>$50 Amazon Gift Card</h2>
         <img src="https://dl.dropbox.com/s/o6ar30amxjcn3vo/amazon-50-gift1.jpg?dl=0" style="margin: 10px auto;display:block;"/>
         <a class="rcptr" href="http://www.rafflecopter.com/rafl/display/3216599d2/" rel="nofollow" data-raflid="3216599d2" data-theme="classic" data-template="" id="rcwidget_nqzwyk2c">a Rafflecopter giveaway</a>
     <script src="https://widget-prime.rafflecopter.com/launch.js"></script>

    <p class="center"><strong>Contest is only open to New York City residents</strong>.</p>
        </div>
       </div>
  </div>

  <section class="cities">
    <div class="container">
      <div class="row">
        <div class="twelve columns">
          <h2 class="center">Find Amazing Places to Explore<br /> in New York City</h2>
          <p class="center">Coming to other cities soon.</p>
          <p class="center">
            <a class="" href="https://itunes.apple.com/app/apple-store/id1102813029?pt=118188314&ct=contest&mt=8" target="_blank"><img src="/images/itunes3.png" /></a>
          </p>
        </div>
      </div>
    </div>
  </section>


  <!--   <section class="listings">
    <div class="container">
      <div class="row">
        <div class="eight columns">
          <h4 class=""><strong>Amazing Places with Deals to Explore<br /> At Your Fingertips.</strong></h4>
          <span class="blurb" style="background-color: #bd382a">Everyday, you can find somewhere to explore.</span>
          <p>
            <span>I'm looking for</span>
            <span class="form-select">
                        <select name="" id="">
                           <option value="">Wine bar</option>
                           <option value="">Spa</option>
                           <option value="">Salon</option>
                        </select>
                        </span>
          </p>
        </div>
      </div>
    </div>
  </section> -->

  <!--   <section class="results">
    <div class="container">
      <div class="row">
        <div class="four columns item">
          <img src="images/thumbnail.png" alt="" />
          <span>The Bar</span>
          <small class="block">Brooklyn Heights</small>
        </div>
        <div class="four columns item">
          <img src="images/thumbnail.png" alt="" />
          <span>The Bar</span>
          <small class="block">Brooklyn Heights</small>
        </div>
        <div class="four columns item">
          <img src="images/thumbnail.png" alt="" />
          <span>The Bar</span>
          <small class="block">Brooklyn Heights</small>
        </div>
      </div>
      <div class="row">
        <div class="four columns item">
          <img src="images/thumbnail.png" alt="" />
          <span>The Bar</span>
          <small class="block">Brooklyn Heights</small>
        </div>
        <div class="four columns item">
          <img src="images/thumbnail.png" alt="" />
          <span>The Bar</span>
          <small class="block">Brooklyn Heights</small>
        </div>
        <div class="four columns item">
          <img src="images/thumbnail.png" alt="" />
          <span>The Bar</span>
          <small class="block">Brooklyn Heights</small>
        </div>
      </div>
    </div>

  </section> -->

  <!--  <section class="bottom">
    <div class="container">
      <div class="row">
        <div class="twelve columns">
          <h2 class="center" style="margin-bottom: 0;"><strong>Start Exploring. Become a Member</strong>.</h2>
          <p class="center" style="font-size: 20px;">Join Placeful today. It's free and it's fast.</p>
          <p class="center"><a class="button button-alerts" href="#">become a member</a></p>
        </div>
      </div>
    </div>

  </section> -->



  <section class="footer">
    <div class="container">
      <div class="row">
        <div class="four columns">
          <a href=""><img src="/images/placeful-logo-white.png" alt=""></a><sup style="top: -1.4em;color:white;">™</sup>
          <p>&copy; 2016</p>
        </div>
        <div class="eight columns">
          <div class="row">
            <!--
                        <div class="three columns">
                            <h7>users</h7>
                            <ul>
                                <li><a href="">Log-in</li>
                                <li><a href="">Create an Account</a></li>
                                <li><a href="">Invite a Friend</a></li>
                            </ul>
                        </div>
-->
            <div class="three columns">
              <h7>contact us</h7>
              <ul>
                <!-- <li><a href="https://merchant.placeful.co">Submit a Deal</a></li> -->
                <li><a href="mailto:concierge@placeful.co">Email Us</a></li>
                <li><a href="https://medium.com/@placeful">Blog</a></li>
              </ul>
            </div>
            <div class="three columns">
              <h7>company</h7>
              <ul>
                <li><a href="https://merchant.placeful.co">Do Business With Us</a></li>
                <!-- <li><a href="">About Us</a></li> -->
                <li><a href="https://placeful.workable.com/jobs/241690" target="_blank">We are hiring!</a></li>
                 <!-- <li><a href="">Press</a></li> -->
                 <li><a href="/contest">Contest</a></li>
                 <li><a href="/privacy">Privacy Policy</a></li>
                 <li><a href="/terms">Terms &amp; Policy</a></li>
              </ul>
            </div>
            <div class="three columns">
              <h7>social outreach</h7>
              <ul>
                <li><a href="https://twitter.com/placefulapp">Twitter</a></li>
                <li><a href="https://www.facebook.com/Placeful">Facebook</a></li>
                <li><a href="https://www.pinterest.com/placefulapp/">Pinterest</a></li>
                <li><a href="https://www.instagram.com/placefulapp/">Instagram</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

  </section>

  <!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->



  <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="/js/slick.min.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

<script type="text/javascript">
  $(document).ready(function(){
    $('.phone_bg').slick({
      infinite: true,
      speed: 500,
      fade: true,
      cssEase: 'linear',
      autoplay: true
    });
  });
</script>
  <script>
    window.skit = (function()
    {
      var objects = {};
      var modules = {};

      function define(resourcePath, deps, fn)
      {
        modules[resourcePath] = {
          deps: deps,
          fn: fn
        };
      }

      function load(resourcePath)
      {
        if (!(resourcePath in objects))
        {
          if (resourcePath in modules)
          {
            var module = modules[resourcePath];
            var args = [];
            for (var i = 0; i < module.deps.length; i++)
            {
              args.push(load(module.deps[i]));
            }
            objects[resourcePath] = module.fn.apply(window, args);
          }
          else
          {
            objects[resourcePath] = null;
          }
        }
        return objects[resourcePath];
      }
      return {
        define: define,
        load: load
      };
    })();
  </script>
  <script src="https://d2kfjaekmjmy1l.cloudfront.net/websites-public-v4f4a4d181b72.js" data-bundle="websites-public"></script>
  <script>
    (function(i, s, o, g, r, a, m)
    {
      i['GoogleAnalyticsObject'] = r;
      i[r] = i[r] || function()
      {
        (i[r].q = i[r].q || []).push(arguments)
      }, i[r].l = 1 * new Date();
      a = s.createElement(o),
        m = s.getElementsByTagName(o)[0];
      a.async = 1;
      a.src = g;
      m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-6101640-24', 'auto');
    ga('send', 'pageview');
  </script>

  <script type="text/javascript">
    (function()
    {
      window._pa = window._pa ||
      {};
      // _pa.orderId = "myOrderId"; // OPTIONAL: attach unique conversion identifier to conversions
      // _pa.revenue = "19.99"; // OPTIONAL: attach dynamic purchase values to conversions
      // _pa.productId = "myProductId"; // OPTIONAL: Include product ID for use with dynamic ads
      var pa = document.createElement('script');
      pa.type = 'text/javascript';
      pa.async = true;
      pa.src = ('https:' == document.location.protocol ? 'https:' : 'http:') + "//tag.marinsm.com/serve/55f49613aca157488100006e.js";
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(pa, s);
    })();

    // $('.text-me').on('click', function() {
    //   ga('send', 'event', 'button', 'click', 'text-me-button');
    // });

    $('.download-button').on('click', function()
    {
      ga('send', 'event', 'button', 'click', 'download-button');
      window._pq = window._pq || [];
      _pq.push(['track', 'download']);
    });
  </script>
</body>

</html>
