<!-- =============================================== -->

<!-- Left side column. contains the sidebar -->
<aside class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
    <!-- Sidebar user panel -->
    <div class="user-panel">
      <!-- <div class="pull-left image">
        <img src="/merchant/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
      </div> -->
      <div class="pull-left" style="color: white;">
        <p>{{business_name}}</p>
        <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
      </div>
    </div>
    <!-- search form -->
    <!-- <form action="#" method="get" class="sidebar-form">
      <div class="input-group">
        <input type="text" name="q" class="form-control" placeholder="Search deals...">
        <span class="input-group-btn">
          <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i></button>
        </span>
      </div>
    </form> -->
    <!-- /.search form -->
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu">
      <!-- <li>
        <a href="/business/index">
          <i class="fa fa-th"></i>
          <span>Dashboard</span>
        </a>
      </li> -->
      <li>
        <a href="/business/deal">
          <i class="fa fa-th"></i>
          <span>Deal Builder</span>
        </a>
      </li>
      <li>
        <a href="/business/manage_deals">
          <i class="fa fa-th"></i>
          <span>Manage Deals</span>
        </a>
      </li>
      <li>
        <a href="/business/profile">
          <i class="fa fa-th"></i>
          <span>Business Profile</span>
        </a>
      </li>
    </ul>
  </section>
  <!-- /.sidebar -->
</aside>

<!-- =============================================== -->